<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="matchservice" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://15.25.67.35:9001/?matchservice.wsdl"
                binding="basicHttpBinding" bindingConfiguration="matchservice"
                contract="IVXWebSearchService.matchservicePortType" name="matchservice" />
        </client>
    </system.serviceModel>
</configuration>