<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="IVX.Live.MainForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="matchservice" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.42.121:9001/?matchservice.wsdl" binding="basicHttpBinding"
          bindingConfiguration="matchservice" contract="IVXWebService.matchservicePortType"
          name="matchservice"  />
      <endpoint address="http://192.168.42.121:9001/?matchservice.wsdl" binding="basicHttpBinding"
          bindingConfiguration="matchservice" contract="IVXWebSearchService.matchservicePortType"
          name="matchservice"  />
    </client>
  </system.serviceModel>
  <userSettings>
    <IVX.Live.MainForm.Properties.Settings>
      <setting name="UploadAbility" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LocalCommIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="GisMapPath" serializeAs="String">
        <value>e:\map\maptype-tms.html</value>
      </setting>
      <setting name="behaviourDataReceivePort" serializeAs="String">
        <value>10124</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SavePassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trafficEventDataReceivePort" serializeAs="String">
        <value>10129</value>
      </setting>
      <setting name="AlarmReceivePort" serializeAs="String">
        <value>10134</value>
      </setting>
    </IVX.Live.MainForm.Properties.Settings>
  </userSettings>
</configuration>
